
.title{
    background-color: #090909;
}
.header-main{
    padding: 0;
    margin: 0;
}
.title h2{
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    transition: all 0.3s;
    color: #fff;
    margin: 10px;
}
.title h1{
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    transition: all 0.3s;
    color: rgb(197, 57, 104);
    margin: 0;
}

.left-side{
    background-color: #000;
    height: 600px;
    width: 100%;
}
nav ul{
    margin-top: 200px;
    margin-left: 150px;
}
nav ul li{
    list-style-type: none;
    margin-top: 10px;
}
nav ul li a{
    text-decoration:none;
    color: white;
    padding: 10px;
    font-size: 17px;
}
nav ul li:hover a{
    text-decoration: none;
    color: #38373B;
}
.left-side-link nav{
    margin-left: 10px;
}
.left-side-link ul{
    list-style-type: none;
    margin: auto;
    margin-left: -156px;
}
.left-side-link ul li{
    float: left;
    color: blue;
    margin-left: 60px;
    text-shadow: none;
}


/*...........*/
.right-side{
    background-color: #050505;
    height: 600px;
    width: 100%;
}
.right-side img{
   width: 320px;
   height: 320px;
   border-radius: 50%;
   margin-top: 105px;
  
}
.title-des{
    margin-top: 20px;
}
.title-des h2{
    padding: 12px;
    color: yellowgreen;
    background-color: #38373B;
    transition: 0.2 sec all;
    margin-top: 15px;
    margin-right: 12px;
    text-align: center;
    
}
/*...........................*/

.about-me{
    background: #080808;
}
.about-me h1{
    color: #ff5d56;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 36px;
    margin-top: 75px;
}
.about-me h2{
    color: #ff5d56;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 16px;
}
.about-me h3{
    color: #ff5d56;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 55px;
}
.hr-style{
        border: 5px dotted white;
        border-bottom: none;
        width: 50px;
}
.about-me-left{
    padding: 20px;
    margin-left: 20px;
}
.about-me img{
    width: 320px;
   height: 320px;
   padding: 20px;
   border: 2px solid white;
}
.about-me p{
    color:#545b62
}



/*.......end..........*/
.my-service{
    padding-bottom: 30px;
}
.my-service h1{
    color: #ff5d56;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 36px;
    margin-top: 175px;
    margin-bottom: 175px;
}
.my-service-card{
    margin-left: 20px;
}
.card{
    transform: .4s;
    border: 1px solid rgb(236, 231, 241);
    background-color:#080808;
    color: #222;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 300px;
    height: auto;
    margin: 0;
}
.card:hover{
    transform: scale(1,1);
    box-shadow: 2px 6px 5px rgb(182, 173, 173);
}
.card-body img{
    width: 50px;
    height: 50px;
}
.card h2{
    color: whitesmoke;
}
.card p{
    color: #545b62;
}



/*.............end*/

/*............start..............*/
.contract-start h1{
    color: #ff5d56;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 36px;
    margin-top: 175px;
    margin-bottom: 175px;
}
.contract-end h1{
    color: #ff5d56;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 36px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.contract-card{
    padding: 30px;
}
.contract-card h1{
    color: whitesmoke;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
    font-size: 36px;
}
.contract-card p{
    color: #6c757d;
    font-family: 'Berkshire Swash', cursive;
    font-weight: normal;
}


/*...........end..............*/

body{
    justify-content: center;
    align-items: center;
    background: #0e0e0e;
  }
  .clock{
      margin-top: 200px;
      margin-bottom: 200px;
  }
  
  .datetime{
    color: #fff;
    background: #10101E;
    font-family: "Segoe UI", sans-serif;
    width: 340px;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
    transition: 0.5s;
    transition-property: background, box-shadow;
  }
  
  .datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
  }
  
  .date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
  }
  
  .time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
  }

/*............end.............*/

footer{
    margin-top: 10px;
    padding: 10px;
    font-family: 'Handlee', cursive;
    background: #000000;
    margin: 0;
}
.icon-style{
    text-align: center;
    width: 30px;
    height: 30px;
    color: white;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 10px;
    transform: .4s;
}
.icon-style:hover{
    transform: scale(1,1);
    background: lightseagreen;
}
